
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

html {
  box-sizing: border-box;
}

.text {
	margin: 20px 50px 0px 50px;
	text-align:center;
	font-size: 40px;
  font-weight: bold;
  max-width: 380px;
  }

.text > p:nth-child(1) > p2:nth-child(2) {
  font-weight: bold;
  opacity: 0.5;
  }
#next {
	display: none;
  }
  
#prev {
	display: none;
  }

body {
  margin: 30;
  min-height: 120vh;
  background-color: #EBEBEB;
  /* background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23c62828' fill-opacity='0.31' fill-rule='evenodd'/%3E%3C/svg%3E");
*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  display: flex;
  /* center vertically in flex */
  align-items: center;
  /* center horizontally in flex */
  justify-content: center;
  font-size: 12px;
  /* flex-direction: column; */
  flex-direction: column;
}



.player-container {
  padding: 50px 0px 0px 0px;
  margin: 20px 20px 100px 20px;
  height: 475px;
  width: 400px;
  background: #151515;
  border-radius: 40px;
  box-shadow: 0px 15px 30px 5px rgba(100, 57.3, 49.8, 0.4) ; 
  color: bisque; 
}
.img-container {
  margin: auto;
  display: block;
  height: 240px;
  width: 100%;
  max-width: 240px;
  padding: 10px 20px 20px 20px;
}
.img-container img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  /* box-shadow: 0px 5px 30px 5px rgba(100, 57.3, 49.8, 0.6); */
  /* box-shadow: 0 0 5px 5px #ccc; */
}

h2 {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #525252;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: bisque;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
  color: bisque;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  text-align:center;
}

.fa-solid {
  font-size: 0px;
  color: bisque;
  margin-right: 0px;
  cursor: pointer;
  user-select: none;
}
.fa-solid:hover {
  filter: brightness(70%);
}
.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Query: for phones (Vertical) */
@media screen and (max-width: 400px) {
  .player-container {
    width: 91vw;
  }
  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px; 
    font-weight: bold;
  }

  h3 {
    font-size: 15px;
    font-weight: bold;
  }

  .player-controls {
    display: block;
    margin: auto;
  }
}

